# Xcode
DerivedData/
build/
*.xcuserdatad/
*.xcuserstate
*.xccheckout
*.xcbkptlist

# Swift Package Manager
.swiftpm/
Packages/
.build/

# CocoaPods
Pods/
# Firebase
**/GoogleService-Info.plist

# Xcode User Settings
*.xcuserstate
**/xcuserdata/
